APP_VERSION = "0.0.1"
APP_NAME = "Servia "



MONGO_URL =  
MONGO_DB =  

WEAVIATE_URL = 

GOOGLE_SHEET_URL = 

EMBEDDING_PROVIDER =  
EMBEDDING_MODEL =  
EMBEDDING_MODEL_SIZE = 1024

GENERATION_MODEL_NAME= 
ROUTING_MODEL_NAME=

DEFAULT_LANGUAGE = "ar"

VLLM_PORT =  
ENABLE_THINKING = 0
