APP_VERSION = "0.0.1"
APP_NAME = "CSAB APP"



MONGO_URL = "mongodb://admin:admin123@localhost:27017"
MONGO_DB = "CSAB_DB"

WEAVIATE_LOCAL_OR_CLOUD = "local"
WEAVIATE_URL = "http://localhost:8080"
WEAVIATE_API_KEY = 
GOOGLE_SHEET_URL = 
 
EMBEDDING_PROVIDER = "INTFLOAT"
EMBEDDING_MODEL = "intfloat/multilingual-e5-large"
EMBEDDING_MODEL_SIZE = 1024

GENERATION_MODEL_NAME=Qwen/Qwen3-0.6B
ROUTING_MODEL_NAME=Qwen/Qwen3-0.6B
DEFAULT_LANGUAGE = "en"
CHAT_CONTEXT_LEN=4


WHISPER_MODEL_SIZE = "base"
WHISPER_COMPUTE_TYPE = "auto"
WHISPER_BEAM_SIZE = 5

VLLM_PORT = "8000"
ENABLE_THINKING = 0
##repos origin and ORG
